$primary_color: #3498db;
$text_color:#fff;
$heading-animate-color:#0a3d62;
$icons-color:#0a3d62;


.box-container{
    font-family: 'Alkalami', serif;
    animation: pulse 3s;
    .box-heading{
        
        h1{
            color: $icons-color;
            display:flexbox;
            text-align: center;
        }
    }
    .box{
        color: $icons-color;
        margin-left: 30px;
        display: inline-block;
        width: 450px;
        height: 170px;
        box-shadow: 0 0 10px #0a3d62 ;
        h2{
            padding: 0;
            margin: 0;
            text-align: center;
            font-weight: 600;
        }
        p{
            padding: 0;
            margin: 0;
            text-align: center;
            font-size: 13px;
        }
        .detail-container{
            padding-left: 5px;
            width: 65px;
            height: auto;
            display: inline-block;
            color: $icons-color;
            cursor: pointer;
            margin: 10px 20px;
            background-color: $text_color;
            border: 0;
            font-size: 12px;
            box-shadow: 2px 3px 0px #3498db;
            &:hover{
                background-color: $heading-animate-color;
                color: #fff;
            }
        }
        .descrip-container{
            text-align: center;
            font-size: 12px;
            margin: 10px 10px;       
        }
        button{
            padding-left: 5px;
            width: 100px;
            height: auto;
            display: inline-block;
            color: #fff;
            cursor: pointer;
            margin: 0 175px;
            background-color: $heading-animate-color;
            border: 0;
            font-size: 18px;
            box-shadow: 2px 3px 0px #3498db;
            &:hover{
                background-color: $primary_color;
                color: $text_color;
            }

        }
    }    
}


// .block-container{
//     padding-top: 10px;
//     margin-top: 30px;
//     font-family: 'Alkalami', serif;
//     .block-name{
//         text-align: center;
        
//         h1{
//             font-weight: 500;
//             font-size: 50px;
//             color:$heading-animate-color;
//             animation: pulse  3s;
            
//         }
//         h3{
//             margin: 0;
//             padding: 0;
//             display: block;
//             font-weight: 300;
//             font-size: 25px;
//             color:$primary_color;
//             animation: pulse  3s;
//         }
//     }
//     .block-items{
//         text-decoration: none;
//         color:$icons-color;
//         font-size: 18px;
//         border: 2px solid;
//         display:table-row;
//         width: 30px;
//         height: 30px;
        
//         span{
//             margin-left: 15px;
//             padding: 65px;
            
//             border: 0px solid #fff;
//         }
//     }
//     .block-box{
//         position: relative;
//         width: 350px;
//         height: 100px;
//         border: 2px solid #000;
//     }
// }